NEXT_PUBLIC_CROWDFUNDING_ADDRESS=0x0000000000000000000000000000000000
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_API_KEY
NEXT_PUBLIC_IPFS_GATEWAY=https://ipfs.io/ipfs
PINATA_JWT=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
